name: CI Windows

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      force_debug_with_tmate:
        type: boolean
        description: 'Run the build with tmate session'
        required: false
        default: false
      debug_with_tmate:
        type: boolean
        description: 'Run the build with a tmate session ONLY in case of failure'
        required: false
        default: false
      force_ccache:
        type: boolean
        description: 'Force save ccache'
        required: false
        default: false
  pull_request:
  merge_group:
  push:
    branches:
      - main

concurrency:
  group: ci-build-test-cpp-windows-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  build_and_ctest:
    name: Build and Test (windows, ASSERTIONS)
    runs-on: windows-2022
    strategy:
      fail-fast: true
    env:
      CACHE_DIR: ${{ github.workspace }}/.container-cache
      CACHE_KEY: windows-build-test-cpp-asserts-v1-${{ format('{0}-{1}', github.ref_name, github.run_number) }}
    defaults:
      run:
        shell: powershell
    steps:
      - name: Set unified TZ
        uses: szenius/set-timezone@1f9716b0f7120e344f0c62bb7b1ee98819aefd42 # v2.0
        with:
          # this is an arbitrary choice
          timezoneLinux: "Asia/Singapore"
          timezoneMacos: "Asia/Singapore"
          timezoneWindows: "Singapore Standard Time"

      - name: "Checking out repository"
        env:
          BRANCH_NAME: ${{ github.ref }}
          REPO_ADDRESS: ${{ github.server_url }}/${{ github.repository }}
        shell: bash
        run: |
          git init
          git remote add origin $REPO_ADDRESS
          git -c protocol.version=2 fetch --depth 1 origin $BRANCH_NAME
          git reset --hard FETCH_HEAD
          git -c submodule."third_party/torch-mlir".update=none \
              -c submodule."third_party/stablehlo".update=none \
              -c submodule."src/runtime_src/core/common/aiebu".update=none \
              submodule update --init --recursive --depth 1 --single-branch -j 10

      - name: Setup Cpp
        uses: aminya/setup-cpp@004edc19527a83d56cda032658aab55c5e2ed48f # v1.7.0
        with:
          compiler: llvm
          vcvarsall: true
          cmake: true
          ninja: true
          ccache: true

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.11'

      - name: Python deps
        run: |
          pip install -r third_party\iree\runtime\bindings\python\iree\runtime\build_requirements.txt
          pip install pyyaml pybind11==2.13.6 nanobind==2.4.0

      - name: Enable cache
        uses: actions/cache/restore@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: ${{ env.CACHE_DIR }}
          key: ${{ env.CACHE_KEY }}
          restore-keys: windows-build-test-cpp-

      - name: Peano dep
        run: |
          .\build_tools\download_peano.ps1
          Add-Content -Path $env:GITHUB_ENV -Value "PEANO_INSTALL_DIR=$PWD\llvm-aie"

      - name: Build packages
        run: |
          $env:cache_dir = "${{ env.CACHE_DIR }}"
          $env:CCACHE_COMPILERCHECK = "string:$(clang-cl.exe --version)"
          .\build_tools\build_llvm.ps1
          # Remove-Item -Path "$pwd\llvm-build" -Force
          $env:llvm_install_dir = "$pwd\llvm-install"
          .\build_tools.\build_test_cpp.ps1

      - name: Create artifacts
        if: ${{ !cancelled() }}
        run: |
          pushd third_party/iree/third_party/llvm-project
          $llvm_sha_short = "$(git rev-parse --short HEAD)"
          popd
          tar cf llvm-dist-windows-$llvm_sha_short.tar llvm-install
          tar cf iree-dist-windows.tar iree-install

      - name: Upload artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ !cancelled() }}
        with:
          name: windows_x86_64_llvm_packages
          path: llvm-dist-*.tar
          if-no-files-found: warn

      - name: Upload artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: ${{ !cancelled() }}
        with:
          name: windows_x86_64_iree_packages
          path: iree-dist-windows.tar
          if-no-files-found: warn

      - name: Save cache
        uses: actions/cache/save@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        if: ${{ !cancelled() && (inputs.force_ccache || github.event_name == 'push' && github.ref_name == 'main') }}
        with:
          path: ${{ env.CACHE_DIR }}
          key: ${{ env.CACHE_KEY }}

      - name: Start tmate session
        if: ${{ (failure() && inputs.debug_with_tmate) || inputs.force_debug_with_tmate }}
        uses: mxschmitt/action-tmate@7b6a61a73bbb9793cb80ad69b8dd8ac19261834c # v3.22
        with:
          limit-access-to-actor: true

  test_windows:
    name: E2E Test windows
    runs-on: windows-phoenix
    needs: build_and_ctest
    env:
      XILINX_XRT: "C:\\Xilinx\\XRT"
    steps:
      - name: "Checking out repository" # for test scripts
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: false # not required for testbench

      - name: Download artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: windows_x86_64_iree_packages

      - name: Extract artifact
        run: |
          tar -xvf iree-dist-windows.tar
          Add-Content -Path $env:GITHUB_ENV -Value "IREE_INSTALL_DIR=$PWD\iree-install"
          Add-Content -Path $env:GITHUB_ENV -Value "PYTHONPATH=$PWD\iree-install\python_packages\iree_compiler;$PWD\iree-install\python_packages\iree_runtime"
          .\build_tools\download_peano.ps1
          Add-Content -Path $env:GITHUB_ENV -Value "PEANO_INSTALL_DIR=$PWD\llvm-aie"

      - name: Create venv and install dependencies
        run: |
          python -m venv .venv
          .\.venv\Scripts\Activate.ps1
          pip install pyyaml pytest numpy

      - name: E2E correctness matmul test
        shell: bash
        run: |
          source .venv/Scripts/activate
          export DEVICE_HAL=xrt
          bash build_tools/ci/run_matmul_test.sh \
            /c/test_matmuls \
            $PWD/iree-install \
            $PWD/llvm-aie

      - name : E2E comparison of AIE to llvm-cpu
        shell: bash
        run: |
          source .venv/Scripts/activate
          python build_tools/ci/cpu_comparison/run.py \
            /c/test_aie_vs_cpu \
            $PWD/iree-install \
            --peano_dir=$PWD/llvm-aie -v \
            --target_device "npu1_4col" \
            --device_hal=xrt \
            --skip_tests "Performance,MultipleDispatches"

      - name: Clean up system temp directory
        run: |
            Get-ChildItem "$env:TEMP" -Recurse | Where-Object {
              -not $_.PSIsContainer -and
              ($_.LastWriteTime -lt (Get-Date).AddDays(-30))
            } | Remove-Item -ErrorAction SilentlyContinue
